In [29]:
import pandas as pd

In [30]:
#to load the dataset
iris_df = pd.read_csv('iris.csv')
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [31]:
iris_df = iris_df.drop(['class'], axis = 1)

In [32]:
iris_df = iris_df[['sepal_length', 'petal_length', 'sepal_width', 'petal_width']]

In [33]:
iris_df.to_csv("new_iris.csv", index=False)

In [34]:
df_shopping = pd.read_csv('shopping_data.csv')

In [35]:
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [36]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [37]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [38]:
df_shopping.duplicated().sum()

0

In [39]:
df_shopping.drop(columns=["CustomerID"], inplace=True)

In [40]:
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [41]:
def dummies(member):
    if member == "Yes":
        return 1
    else:
        return 0

In [42]:
df_shopping["Card Member"] = df_shopping["Card Member"].apply(dummies)

In [44]:
df_shopping["Annual Income"] = df_shopping["Annual Income"] / 1000

In [46]:
df_shopping.to_csv("new_df_shopping.csv", index = False)